# Dependências (Nunca subir)
node_modules/
jspm_packages/

# Pasta de Build (Gerada automaticamente no deploy)
dist/
dist-ssr/

# Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Arquivos locais e de ambiente (Contém chaves secretas)
.env
.env.local
.env.*.local

# Pastas de Editores/IDE (Configurações locais)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos de sistema operacional
.DS_Store
Thumbs.db
